

/* navbar */
$nav-bg:#000000;
$nav-link:#82ADBF;
$color-fff:#FFFF;
$nav-hover:#BFBFBF;


.navbar{
	background: $nav-bg;

	.navbar-brand{
		color:$color-fff;
	}
	.nav-link{
		color: $nav-link;
	}
	.nav-link:hover{
		color: $nav-hover;
	}
	.active{
		color:#FFFF;
	}
	.navbar-toggler-icon{
		color:#FFF;
	}

}


/* slider */



#slider{
	position: relative;
	min-height: 500px;

	.carousel-images1{
		background-image: url(../img/image1.jpeg) ;
		background-size: cover;
	}
	.carousel-images2{
		background-image: url(../img/image2.jpeg) ;
		background-size: cover;
	}
	.carousel-images3{
		background-image: url(../img/image3.jpeg) ;
		background-size: cover;
	}

	.carousel-inner{
		position: absolute;
		min-height: 600px;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

	}
	.carousel-item{
		height: 500px;}
}

/* icon-section */
#home-icon-section{

	.fa{
		font-size: 50px;
	}
}

$bg-overlay:rgba(0, 0, 0, .7);
/* content-section-01 */
#home-content-section-01{
	background-image: url(../img/bg1.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 220px;
	position: relative;
	.dark-overlay{
		background:$bg-overlay;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

/* content-section-02 */
$cs-02-color-p:#212529;
#home-content-section-02{

	p{
		color:$cs-02-color-p;
	}
}
/* home-video-section */
$color-fa:red;
#home-video{
	background-image: url('../img/image5.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	.fa{
		font-size: 35px;
		color:$color-fa;
	}
}
/* gallery */
#gallery{

	img{
		min-height: 250px;
	}
}

/* home-content-section-03 */

$hcs-03-bg:#343A40;
#home-content-section-03{
	background: $hcs-03-bg;
}

/* footer-section */


#footer{
	background: #000000;
	color:#FFFFFF;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#about-header{
	background: url('../img/image1.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	min-height: 550px;
	.dark-overlay{
		position: absolute;
		min-height:550px;
		left: 30%;
		top:30%;
	}
}

#about-icon{

	.fa{
		font-size: 30px;
	}
}


.slider{
	.slick-prev:before,
	.slick-next:before {
		color:#000;
	}
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




#services-header{
	background: url('../img/image1.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	min-height: 550px;
	.dark-overlay{
		position: absolute;
		min-height:550px;
		left: 25%;
		top:30%;
	}
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

$q-bg:#343A40;

#question{
	background: $q-bg;
}




/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#blog-header{
	background: url('../img/image1.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	min-height: 550px;
	.dark-overlay{
		position: absolute;
		min-height:550px;
		left: 25%;
		top:35%;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#contact-header{
	background: url('../img/image1.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	min-height: 550px;
	.dark-overlay{
		position: absolute;
		min-height:550px;
		left: 25%;
		top:35%;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* media */
@media (max-width: 480px) {
  #slider{


  	.carousel-item{
  		height: 600px;
  	}
  .carousel h2 {
    font-size: 2.5rem; }
	  }

	}
@media(max-width:767px) {
	#slider{
		h1{
			font-size: 2.5rem;
			margin-top: -320px;
		}
		.carousel-item{
			height: 500px;
		}
	}
}
